<volist name="tree" id="list">
	<dl class="cate-item">
		<dt class="cf">
			<form action="{:U('edit')}" method="post">

				<div class="btn-toolbar opt-btn cf">
                    <php>
                        $cate_typ = array(2=>'列表型',4=>'单页型',5=>'链接型');
                        $cate_typ_ico = array(2=>'fa-list',4=>'fa-file',5=>'fa-link');
                    </php>
                    <span class="  fa {$cate_typ_ico[$list['type']]} " style="font-size: 75%;">{$cate_typ[$list['type']]}</span>


					<a title="编辑" class=" label " href="{:U('edit?id='.$list['id'].'&pid='.$list['pid'])}">编辑</a>
					<!--a title="{$list.status|show_status_op}" href="{:U('setStatus?ids='.$list['id'].'&status='.abs(1-$list['status']))}" class="ajax-get">{$list.status|show_status_op}</a-->
					<a title="删除"  href="{:U('remove?id='.$list['id'])}" class=" label confirm ajax-get" data-confirm="确定删除栏目和栏目下的文章? 无法恢复,请先备份数据库!" >删除</a>
					<a title="移动" class=" label "  href="{:U('operate?type=move&from='.$list['id'])}">移动</a>
					<!--a title="合并" href="{:U('operate?type=merge&from='.$list['id'])}">合并</a-->
				</div>
				<div class="fold"><i></i></div>
                <div class="order">{$list.id}</div>
				<div class="name">

					<span class="tab-sign"></span>
					<input type="hidden" name="id" value="{$list.id}">
                    <input type="text" name="sort" class="text input-mini" value="{$list.sort}">
					<input type="text" name="title" class="text input-small" value="{$list.title}">
                    -<input type="text" name="title_en" class="text input-small" value="{$list.title_en}">
					<a class="add-sub-cate" title="添加子分类" href="{:U('add?pid='.$list['id'])}">
						<i class="icon-add"></i>
					</a>

					<span class="help-inline msg"></span>
				</div>
                <div class="title_en">

                </div>
			</form>
		</dt>
		<notempty name="list['_']">
			<dd>
				{:R('Category/tree', array($list['_']))}
			</dd>
		</notempty>
	</dl>
</volist>